@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --title: #001a49;
  --colorPlan: #696871;
  --colorPrice: #1d293f;
  --bgCTA: #fff;
  --colorCTA: #5454d4;
  --colorItems: #696871;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

/* ----------------- Header -------------------- */
.header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  color: #fff;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(./Imgs/computer.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinkContainer {
  display: flex;
  gap: 2rem;
}
.navItem {
  list-style: none;
}
.navLink {
  text-decoration: none;
  color: #fff;
}
.navMenu {
  display: none;
}

#navClose {
  display: none;
}
.container {
  padding: 100px 20px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.paragraph {
  margin-bottom: 40px;
}

.startNow {
  color: #fff;
  text-decoration: none;
  background-color: #2091f9;
  padding: 13px 30px;
  border-radius: 32px;
}

/* ----------------- About -------------------- */

.aboutContainer {
  text-align: center;
  padding: 100px 20px;
}

.sectionTitle {
  color: var(--title);
  font-size: 2rem;
  margin-bottom: 25px;
}

.aboutParagraph {
  line-height: 1.5;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.aboutIcons {
  max-width: 295px;
  margin-top: 60px;
}

.aboutIconIMG {
  font-size: 60px;
  color: #2091f9;
}

.aboutMain {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

/* ----------------- knowledge -------------------- */
.knowledge {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  padding: 100px 20px;
}
.knowledgeContainer {
  max-width: 900px;
  display: flex;

  margin: 0 auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.knowledgeParagraph {
  margin-bottom: 30px;
}
.knowledgePicture {
  max-width: 400px;
}

.knowledgeIMG {
  width: 100%;
  border-radius: 20px;
}

/* ----------------- Prices -------------------- */

.priceContainer {
  text-align: center;
  padding: 100px 20px;
}

.priceTable {
  max-width: 865px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.priceElement {
  background-color: #e5e5f7;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
}

.planName {
  color: var(--colorPlan);
  margin-bottom: 15px;
  font-weight: 300;
}

.planPrice {
  font-size: 2.5rem;
  color: var(--colorPrice);
}

.planItems {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 50px;
  color: var(--colorItems);
}
.planCTA {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--bgCTA);
  color: var(--colorCTA);
  font-weight: 600;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.priceBest {
  --colorPlan: rgb(255 255 255 / 75%);
  --colorPrice: #fff;
  --bgCTA: #9f3919;
  --colorCTA: #fff;
  --colorItems: #fff;

  background-color: #ff7143;
  width: 300px;
  padding: 60px 20px;
}

/* ----------------- Testimony -------------------- */
.testimonySection {
  background-color: #e5e5f7;
  padding: 100px 20px;
}

.testimonyContainer {
  max-width: 984px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
  margin: 0 auto;
}

.testimonyBody {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}
.testimonyBodyShow {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.testimonyIMG {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.testimonyCourse {
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;
}
#leftArrow,
#rightArrow {
  text-align: center;
  font-size: 40px;
}

/* ----------------- Questions -------------------- */
